.img-responsive{
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.menu-home{
    /* background: rgb(218,33,40);
    background: linear-gradient(180deg, rgba(218,33,40,0.75) 0%, rgba(73,106,179,0.75) 100%); */
    background-color: #011b47;
}
/* .menu-home.navbar-dark .navbar-nav .nav-link { */
    /* color: #222; */
/* } */
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #011b47;
}
/* .dropFilterLogo{ */
    /* -webkit-filter: drop-shadow(5px 5px 5px #496ab376);
    filter: drop-shadow(5px 5px 5px #496ab376); */
/* } */
.top-nav a{
    text-decoration: none;
}
.top-nav a:hover{
    text-decoration: none;
}
.text-red-bab{
    color: #da2128;
}
.bg-white-transparent{
    background-color: #ffffff36;
}
.bg-bab{
    background-color: #011b47;
}
.bg-bab-sky{
    background-color:#4f80d6;
}
.hover\:bg-bab:hover{
    background-color: #011b47;
}
.border-bab{
    border-color: #011b47;
}
.text-bab{
    color: #011b47;
}
.bg-bab-shadow{
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.text-shadow{
    text-shadow: 1px 1px 3px #333;
}
.bg-burbbles{
    background: url(/images/bubbles.png);
    background-size: cover;
    background-position: right;
}
.menu-sticky{
    transform: translateY(-40px); 
    transition:.1s;
}
.menu-home{
    position: fixed;
    width: 100%;
    z-index: 100;
    opacity: 80;
    transition: .3s;
}
.menu-home .navbar-brand{
    max-width: 200px;
}
footer img{
    max-width: 300px;
}

footer .twitter-timeline.twitter-timeline-rendered{
    border-radius: 12px;
}
.logo_bab{
    max-width:200px;
    width: 100%;
    margin: 0 auto;
}
.bg-courves-profile{
    background: url(/images/curved-user-red.png);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.bg-lines{
    background: url(/images/lines.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
}
.bg-white-4\/5{
    background-color: rgba( 255, 255, 255, 0.80 );
}

/* login */
.loginBody{
    background: url(/images/mesh.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.loginBody input[type="text"],
.loginBody input[type="email"],
.loginBody input[type="password"]{
    background: transparent;
    color: #fff;
}
.loginBody input::placeholder{
    color: #fff;
}
.login figure{
    max-width:300px;
}
.login figure img.img-responsive{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(1px 1px 3px #222);
}
.card-logo{
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.nav-pills .nav-link{
    color: #fff;
    border-radius: 0;
}
.nav-pills .nav-link:hover{
    border-radius: 0;
    color: #011b47;
    background: #f2f2f2;
}
.nav-pills .nav-link.active{
    border-radius: 0;
    color: #011b47;
    background: #f2f2f2;
}
.main-dashboard{
    height: 100%;
    width: 100%;
}
.swiper {
    width: 100%;
    height: 100%;
}
.max-w-top-nav,
.nav-container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
/* table */
thead tr th:first-child { border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
thead tr th:last-child { border-top-right-radius: 10px; border-bottom-right-radius: 10px;}

tbody tr td:first-child { border-top-left-radius: 5px; border-bottom-left-radius: 0px;}
tbody tr td:last-child { border-top-right-radius: 5px; border-bottom-right-radius: 0px;}

@media screen and (max-width: 576px) {
    /* datatables */
    #DataTables_Table_0_wrapper .col-sm-12{
        overflow-x: scroll;
    }
}
@media screen and (max-width: 767px) {
    .nav-pills .nav-link.active{
        border-bottom: 2px solid #da2128;
    }
    .logo_bab{
        max-width:150px;
        width: 100%;
        margin: 0 0 0 1rem;
    }
}
@media screen and (min-width: 768px) {
    .nav-pills .nav-link.active{
        border-left: 2px solid #da2128;
        border-bottom: none;
    }
}
.bg-gradient{
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 1) 85%), 
    radial-gradient(ellipse at top left, rgba(13, 110, 253, 0.5), transparent 50%),
    radial-gradient(ellipse at top right, rgba(255, 228, 132, 0.5), transparent 50%),
    radial-gradient(ellipse at center right, rgba(112.520718, 44.062154, 249.437846, 0.5), transparent 50%),
    radial-gradient(ellipse at center left, rgba(214,51,132, 0.5), transparent 50%);
}
